# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next
out
build

# production
.vercel
.turbo

# testing
coverage

# env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*



